<% content_for :page_title do %>
  <%= t('statistics') %>
<% end %>

<%= search_form_for @search, :url => spree.admin_report_path  do |s| %>
  <div class="row">
    <div class="col-md-3">
      <%= label_tag nil, Spree.t(:start) %>
      <%= s.text_field :updated_at_gt, :data => { :field => 'datetime' }, :class => 'datepicker datepicker-from  form-control', :value => datetimepicker_field_value(params[:q][:updated_at_gt]) %>
    </div>

    <div class="col-md-3">
      <%= label_tag nil, Spree.t(:end) %>
      <%= s.text_field :updated_at_lt, :data => { :field => 'datetime' }, :class => 'datepicker datepicker-to form-control', :value => datetimepicker_field_value(params[:q][:updated_at_lt]) %>
    </div>
  </div>
    
  <div class="actions form-actions">
    <%= label_tag nil, ' ' %>
    <%= button Spree.t(:search), 'icon-search'  %>
  </div>
<% end %>


<div class="col-md-12">
  <hr />
  <ul>
    <%- @payment_methods.each do |pm,value| %>
      <li><%= pm.name %>: <%= value[:total].format %></li>
    <% end %>
  </ul>
</div>